@model Tic_Tac_Toe.Models.TicTacViewModel
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
<script src="~/js/Functions.js"></script>

<div class="game-board">
    
    <div class="box" id="00">@Model.Rows[0].FirstElement</div>
    
    <div class="box" id="01">@Model.Rows[0].SecondElement</div>
    
    <div class="box" id="02">@Model.Rows[0].ThirdElement</div>
    
    <div class="box" id="10">@Model.Rows[1].FirstElement</div>
    
    <div class="box" id="11">@Model.Rows[1].SecondElement</div>
   
    <div class="box" id="12">@Model.Rows[1].ThirdElement</div>
    
    <div class="box" id="20">@Model.Rows[2].FirstElement</div>
    
    <div class="box" id="21">@Model.Rows[2].SecondElement</div>
    
    <div class="box" id="22">@Model.Rows[2].ThirdElement</div>
</div>
<div id="gameModes"></div>
@if (Model.GameMode != null)
{
    if (Model.GameMode == "hard")
    {

        <input type="button" onclick="EasyMode()" class="btn btn-info easy" value="Easy" id="btnClickEasy" />
        <input type="button" onclick="HardMode()" class="btn btn-info hard" value="Hard" id="btnClickHard" />
        <script>HardMode();</script>
    }
    else
    {

        <input type="button" onclick="EasyMode()" class="btn btn-info easy" value="Easy" id="btnClickEasy" />
        <input type="button" onclick="HardMode()" class="btn btn-info hard" value="Hard" id="btnClickHard" />
        <script>EasyMode();</script>
    }

}
else
{
    <input type="button" onclick="EasyMode()" class="btn btn-info easy" value="Easy" id="btnClickEasy" />
    <input type="button" onclick="HardMode()" class="btn btn-info hard" value="Hard" id="btnClickHard" />
}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h1 id="gameOver"></h1>
    <a class="newGameAnchor" asp-area="" asp-controller="Home" asp-action="Index">Play again</a>
</div>

